{% extends 'base.html' %}

{% block title %}Projetos de Anderson{% endblock %}

{% block main %}
<body>
    <div class="container">
        <h2>Abaixo veja alguns dos projetos que já fiz e compartilhei em meu LinkedIn e GitHub</h2>
    </div>
    <div class="container">
        <div class="box">
            <h3>Projetos:</h3>
            <div class="menu">
                <ul>
                    <li><a href="{{ url_for('portfolio.home') }}">Projeto 1</a></li>
                    <p>Descrição do projeto 1</p>
                    <li><a href="{{ url_for('portfolio.home') }}">Projeto 2</a></li>
                    <p>Descrição do projeto 2</p>
                </ul>
            </div>
        </div>
    </div>
</body>
{% endblock %}